<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ll.test"
    android:configChanges="screenSize|orientation|keyboardHidden">
    <!-- false强制性的缩放-->
    <!--<supports-screens-->
    <!--android:largeScreens="false"-->
    <!--android:smallScreens="false"></supports-screens>-->


    <!--定义权限-->
    <!--normal：低风险权限，只要申请了就可以使用（在AndroidManifest.xml中添加<uses-permission>标签），安装时不需要用户确认；-->
    <!--dangerous：高风险权限，安装时需要用户的确认才可使用；-->
    <!--signature：只有当申请权限的应用程序的数字签名与声明此权限的应用程序的数字签名相同时（如果是申请系统权限，则需要与系统签名相同），才能将权限授给它；-->
    <!--signatureOrSystem：签名相同，或者申请权限的应用为系统应用（在system image中）。-->
    <!--activity-->
    <!--broadc 可用想你的引用发送broadcast intent-->
    <!--intent 那个broadc可用接受-->
    <!--content provider-->
    <!--service 启动或绑定到某service的能力-->
    <!--为整个应用设置权限-->

    <permission
        android:name="com.ll.test.TEST"
        android:description="@string/app_name"
        android:label="ll"
        android:protectionLevel="dangerous"></permission>
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />


    <uses-permission android:name="com.ll.LL" />
    <uses-permission android:name="com.ll.test.TEST" />
    <!--给intent加权限-->
    <!--sendBroadcast(intent,"com.ll.test.TEST")-->

    <!--权限是应用级的安全机制-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--蓝牙-->
    <!--读取，启动，查找，绑定-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--修改一些本地的属性-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <!--网络-->
    <!--读取网络状态记得要加权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络状态改变-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--wiif-->
    <!--读取wifi状态记得要加权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--wifi状态改变-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--NFC-->
    <uses-permission android:name="android.permission.NFC" />

    <!--电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--读取短信-->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!--电源管理-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--goole地图权限-->
    <!--用户位置的精度等级-->
    <!--fine权限自动获取coarse权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--蜂窝网位置变化-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--硬件加速-->
    <!--android:hardwareAccelerated="true"-->
    <!--指定硬件加速时必须的-->
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <!--电话功能是必须的-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <!--摄像头-->
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature android:name="android.hardware.camera" />
    <!--PackageManager packageManager=getPackageManager();
        packageManager.hasSystemFeature(PackageManager.FEATURE_SENSOR_COMPASS);-->

    <!--&lt;!&ndash;sd卡写权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--&lt;!&ndash;在SDCard中创建与删除文件权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <application
        android:name=".app.app"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="APPLICATION_CLASS_NAME"
            android:value="com.android.MyApplication" />
        <!--单元测试-->
        <activity android:name=".testunit.MainActivity" />
        <activity android:name=".save.MyFragmentPreferenceActivity" />
        <!--键盘弹出-->
        <!--android:windowSoftInputMode="stateVisible|adjustResize"-->
        <!--设置activity权限-->
        <activity
            android:name=".java.TestJavaActivity"
            android:screenOrientation="portrait">
            <!--android:permission="com.ll.LL"-->
            <!--android:uiOptions="splitActionBarWhenNarrow"拆分操作栏-->
            <intent-filter>
                <!--动作 多个 具有唯一性-->
                <action android:name="android.intent.action.MAIN" />
                <!--分类 在那种情况下为action提供服务  可以多个 有Android标准的和自定义的-->
                <!--<category android:name="android.intent.category.ALTERNATIVE" />-->
                <!--出现在应用程序的启动器中-->
                <!--网络设置界面-->
                <!--<action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".show.MyOtherActivity">
            <intent-filter>
                <action android:name="com.paad.notifications.action.BUTTON_CLICK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:icon="@drawable/network"
            android:label="dasd">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--指定home 不指定action可以把它作为本地屏幕的可选项-->
            <!--<category android:name="android.intent.category.HOME" />-->
            <!--<data-->
            <!--android:host="主机名"-->
            <!--android:mimeType=".asd"-->
            <!--android:path="/ll/oo"-->
            <!--android:port="80"-->
            <!--android:scheme="conent or http" />-->

            <!--点击链接打开界面-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--BROWSABLE是必须的-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--http://www.ll.com-->
            <!--<data-->
            <!--android:host="www.ll.com"-->
            <!--android:mimeType="earthquakes/*"-->
            <!--android:scheme="http" />-->
            <!--</intent-filter>-->
        </activity>
        <!--别名-->
        <activity-alias
            android:name="com.test.tmpcontacts"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:targetActivity=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <!--<activity android:name=".activity.CycleActivity" />-->
        <!--测试广播-->
        <receiver
            android:name=".receiver.ReceiverTest"
            android:permission="com.ll.permission">
            <!--android:priority="100"只对有序的广播设置优先级是好的做法-->
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <!--程序插件-->
        <!--<activity android:name=".activity.PlugInActivity">-->
        <!--<intent-filter android:label="程序插件">-->
        <!--<action android:name="lllll" />-->
        <!--<data android:mimeType="vnd.moonbase.cursor.item/*" />-->
        <!--&lt;!&ndash;SELECTED_ALTERNATIVE或者ALTERNATIVE的一个或者两个&ndash;&gt;-->
        <!--&lt;!&ndash;决定动作何时可用&ndash;&gt;-->
        <!--<category android:name="android.intent.category.ALTERNATIVE" />-->
        <!--<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--添加了读写权限-->
        <!--content://com.example.project.healthcareprovider/nurses/rn查找-->
        <!--多个时，，，分号来分离每个授权-->
        <provider
            android:name=".sql.ContentProviderTest"
            android:authorities="com.bgtx.runquick.provider.test"
            android:readPermission="asdasdsad"
            android:writePermission="asdasdasdadasdas" />
        <!-- android:authorities="downloads.com.bgtx.runquick"-->
        <!--<activity android:name=".DatabaseSkeletonSearchActivity"-->
        <!--android:label="Element Search"-->
        <!--android:launchMode="singleTop">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEARCH" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--<meta-data-->
        <!--android:name="android.app.searchable"-->
        <!--android:resource="@xml/searchable"-->
        <!--/>-->
        <!--</activity>-->

        <!--&lt;!&ndash; Listing 8-26: Setting a default search result Activity for an application &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="android.app.default_searchable"-->
        <!--android:value=".DatabaseSkeletonSearchActivity"-->
        <!--/>-->
        <!--其他使用时要权限-->
        <service
            android:name=".service.ServivceTest"
            android:enabled="true"
            android:permission="con.ll.LL" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--多版本支持-->
        <!--android:enabled-->
        <!--这个属性用于定义系统是否能够实例化这个广播接收器，-->
        <!--如果设置为true，则能够实例化，如果设置为false，-->
        <!--则不能被实例化。默认值是true。-->
        <!--<application>元素有它自己的enabled属性，-->
        <!--这个属性会应用给应用程序的所有组件，包括广播接收器。-->
        <!--<application>和<receiver>元素的这个属性都必须是true，-->
        <!--这个广播接收器才能够被启用。如果有一个被设置为false，-->
        <!--该广播接收器会被禁止实例化。-->
        <receiver
            android:name=".mediaplayer.MediaControlReceiver"
            android:enabled="@bool/supper">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!--wifi-->
        <!--蓝牙-->
    </application>

</manifest>